<div class="container col-12 p-5">
    <div class="card">
        <div class="card-top">
        </div>
        <p>{{content}}</p>
        <h6>-{{username}}, {{format_date date}}</h6>
    </div>
</div>