<div class="container col-12 p-5">
    <a href={{format_link blogId}} class="myPost">
        <div class="card card-top justify-space-between col-12">
            <h1>{{title}}</h1>
            <h1>{{format_date date_created}}</h1>
        </div>
    </a>
</div>