<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hot Blog</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="bg-light">
    <header>
        <nav>
            <section class="links">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Dashboard</a></li>
                    {{#if logged_in}}
                    <li><a id="logout">Logout</a></li>
                    {{else}}
                    <li><a href="/login">Login</a></li>
                    {{/if}}
                </ul>
            </section>
            <h1>Hot Blog</h1>
        </nav>
    </header>

    {{{body}}}

{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}
</body>
</html>