<div class="container col-12 p-5">
    <div class="card">
        <div class="card-top">
            <h1>{{blog.title}}</h1>
            <h3>Posted by {{blog.user.username}} on {{format_date blog.date_created}}</h3>
        </div>
        <p>{{blog.content}}</p>
    </div>
</div>

{{#each blog.comments as |comment|}}
{{> comments username=../blog.user.username date=../blog.date_created}}
{{/each}}

<div class="container login-card">
<h2 class="page-title">Post a comment</h2>
<form class="form signup-form">
    <div class="form-group">
    <input class="form-input" type="text" id="username-signup" />
    </div>
    <div class="form-group">
    <button class="btn btn-primary" type="submit">Add Comment</button>
    </div>
</form>
</div>