<div class="container col-12 p-5">
    <div class="card">
        <div class="card-top">
            <h1>{{title}}</h1>
            <h3>Posted by {{user.username}} on {{format_date date_created}}</h3>
        </div>
        <p>{{content}}</p>
    </div>
</div>

{{#each comments as |comment|}}
{{> comments}}
{{/each}}