/* Nav Bar */
header {
    position: relative;
    width: 100%;
    background-color: darkcyan;
    z-index: 1;
}
header nav h1 {
    font-size: 40px;
    color: wheat;
}
nav {
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
    align-items: center;
}
.links {
    flex: 1;
    text-align: center;
}
.links ul li {
    list-style-type: none;
    position: relative;
    display: inline-block;
    padding: 0 10px;
    font-size: 25px;
}
.links ul li a{
    color: white;
    text-decoration: none;
}
.links ul li a:hover{
    color: brown;
    cursor: pointer;
}

.card h1{
    font-size: 25px;
}
.card p{
    font-size: 20px;
    padding: 0 5px;
}
.card-top{
    background-color: tan;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
}
h3{
    font-size: 15px;
}

textarea {
    max-width: 100%;
}

.some-card a {
    color: black
}

.some-card a:hover {
    color: rgb(106, 106, 106);
    text-decoration: none;
}